{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<br/>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
    <div class="btn-group me-2" role="group" aria-label="Add vehicles button group">
      <button type="button" class="btn btn-success"><i class="bi bi-plus-square-fill"></i><span> Add Vehicle</span></button>
    </div>
  <div class="btn-group" role="group" aria-label="Manage vehicles button group">
      <button type="button" class="btn btn-info"><i class="bi bi-gear-fill"></i><span> Manage</span></button>
    </div>
</div>
<br/>

<!-- View all vehicles in the database -->
<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <h2 class="text-center">Vehicles</h2>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Year</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehicle in vehicles %}
                        <tr>
                            <td>{{ vehicle.id }}</td>
                            <td>{{ vehicle.year }}</td>
                            <td>{{ vehicle.make }}</td>
                            <td>{{ vehicle.model }}</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to remove this vehicle?')"><i class="bi bi-trash3-fill"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}